In [3]:
import pandas as pd

# We'll read sheets one by one to avoid memory issues
combined_df_parts = []

for file_path in [
    "/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_jan2023.xlsx",
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_feb2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_mar2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_april2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_may2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_june2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_july2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_aug2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_sep2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_october2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_nov2023.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2023/price_history_checks_dec2023.xlsx'
]:
    # Read only the first sheet to keep it consistent and fast
    df = pd.read_excel(file_path, sheet_name=0)
    combined_df_parts.append(df)

# Combine all dataframes
combined_df = pd.concat(combined_df_parts, ignore_index=True)

combined_df.head()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
0,7-Eleven Medowie,"787 MEDOWIE RD, MEDOWIE NSW 2318",MEDOWIE,2318.0,7-Eleven,PDL,1/01/2023 12:00:02 AM,203.9
1,Metro Petroleum Ballina,"323 River Street, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P95,1/01/2023 12:16:25 AM,196.9
2,NaN,NaN,NaN,NaN,NaN,P98,1/01/2023 12:16:25 AM,205.9
3,NaN,NaN,NaN,NaN,NaN,PDL,1/01/2023 12:16:25 AM,217.9
4,NaN,NaN,NaN,NaN,NaN,E10,1/01/2023 12:16:25 AM,186.9

In [4]:
combined_df.tail()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
844610,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,E10,2023-12-31 23:48:01,185.9
844611,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,U91,2023-12-31 23:48:01,187.9
844612,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P95,2023-12-31 23:48:01,197.9
844613,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P98,2023-12-31 23:48:01,207.9
844614,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,PDL,2023-12-31 23:48:01,207.9

In [5]:
# Save combined raw file
output_path = "/Users/henrychiu/Documents/fuel check project/fuel check data/2023/combined_fuel_price_history_2023_raw.csv"
combined_df.to_csv(output_path, index=False)

## data cleaning

### drop missing data

In [6]:
missing_date_data = combined_df['PriceUpdatedDate'].isnull().sum()
missing_date_data

16

In [7]:
combined_df = combined_df.dropna(subset=['PriceUpdatedDate'])

In [8]:
columns_of_interest = ['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']
missing_summary = combined_df[columns_of_interest].isnull().sum()

missing_summary

ServiceStationName    414441
Address               412687
Postcode              412707
Suburb                412692
Brand                 412939
dtype: int64

In [9]:
combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']] = (
    combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')
)

/var/folders/56/9ccg46j54r99nc2y8w_2gvx00000gn/T/ipykernel_15521/623050441.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')

In [10]:
missing_summary = combined_df[columns_of_interest].isnull().sum()
missing_summary

ServiceStationName    0
Address               0
Postcode              0
Suburb                0
Brand                 0
dtype: int64

In [11]:
# Save combined file
output_path = "/Users/henrychiu/Documents/fuel check project/fuel check data/2023/combined_fuel_price_history_2023_cleaned.csv"
combined_df.to_csv(output_path, index=False)