In [12]:
import pandas as pd

# We'll read sheets one by one to avoid memory issues
combined_df_parts = []

for file_path in [
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_jan2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_feb2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_mar2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_apr2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_may2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_jun2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_jul2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_aug2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_sep2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_oct2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_nov2024.xlsx',
    '/Users/henrychiu/Documents/fuel check project/fuel check data/2024/fuelcheck_pricehistory_dec2024.xlsx'
]:
    # Read only the first sheet to keep it consistent and fast
    df = pd.read_excel(file_path)
    combined_df_parts.append(df)

# Combine all dataframes
combined_df = pd.concat(combined_df_parts, ignore_index=True)

combined_df.head()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
0,Costco Canberra Airport (Members Only),"39-41 Mustang Avenue, Canberra Airport ACT 2609",Canberra Airport,2609,Costco,U91,2024-01-01 00:44:05,168.7
1,Costco Canberra Airport (Members Only),"39-41 Mustang Avenue, Canberra Airport ACT 2609",Canberra Airport,2609,Costco,P98,2024-01-01 00:44:05,189.7
2,Costco Canberra Airport (Members Only),"39-41 Mustang Avenue, Canberra Airport ACT 2609",Canberra Airport,2609,Costco,PDL,2024-01-01 00:44:05,177.7
3,Costco Casula (Members only),"20 Parkersfarm Place, Casula NSW 2170",Casula,2170,Costco,E10,2024-01-01 00:44:11,164.7
4,Costco Casula (Members only),"20 Parkersfarm Place, Casula NSW 2170",Casula,2170,Costco,P98,2024-01-01 00:44:11,188.7

In [4]:
combined_df.tail()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
844610,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,E10,2023-12-31 23:48:01,185.9
844611,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,U91,2023-12-31 23:48:01,187.9
844612,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P95,2023-12-31 23:48:01,197.9
844613,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P98,2023-12-31 23:48:01,207.9
844614,METRO PETROLEUM BALLINA,"323 RIVER ST, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,PDL,2023-12-31 23:48:01,207.9

In [13]:
# Save combined raw file
output_path = "/Users/henrychiu/Documents/fuel check project/fuel check data/2024/combined_fuel_price_history_2024_raw.csv"
combined_df.to_csv(output_path, index=False)

## data cleaning

### drop missing data

In [14]:
missing_date_data = combined_df['PriceUpdatedDate'].isnull().sum()
missing_date_data

0

In [7]:
combined_df = combined_df.dropna(subset=['PriceUpdatedDate'])

In [15]:
columns_of_interest = ['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']
missing_summary = combined_df[columns_of_interest].isnull().sum()

missing_summary

ServiceStationName    0
Address               0
Postcode              0
Suburb                0
Brand                 0
dtype: int64

In [9]:
combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']] = (
    combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')
)

/var/folders/56/9ccg46j54r99nc2y8w_2gvx00000gn/T/ipykernel_15521/623050441.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')

In [10]:
missing_summary = combined_df[columns_of_interest].isnull().sum()
missing_summary

ServiceStationName    0
Address               0
Postcode              0
Suburb                0
Brand                 0
dtype: int64

In [11]:
# Save combined file
output_path = "/Users/henrychiu/Documents/fuel check project/fuel check data/2024/combined_fuel_price_history_2024_cleaned.csv"
combined_df.to_csv(output_path, index=False)