In [17]:
import pandas as pd

# We'll read sheets one by one to avoid memory issues
combined_df_parts = []

for file_path in [
    "/Users/henrychiu/Documents/check data/2022/price_history_checks_january2022.xlsx",
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_february2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_march2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_april2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_may2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_june2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_july2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_august2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_sep2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_october2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_november2022.xlsx',
    '/Users/henrychiu/Documents/check data/2022/price_history_checks_dec2022.xlsx'
]:
    # Read only the first sheet to keep it consistent and fast
    df = pd.read_excel(file_path, sheet_name=0)
    combined_df_parts.append(df)

# Combine all dataframes
combined_df = pd.concat(combined_df_parts, ignore_index=True)

combined_df.head()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
0,BP CAMDEN,"12 ARGYLE ST, CAMDEN NSW 2570",CAMDEN,2570.0,BP,E10,1/01/2022 12:02:04 AM,141.9
1,NaN,NaN,NaN,NaN,NaN,U91,1/01/2022 12:02:04 AM,143.9
2,Caltex Woolworths Woolooware,"449 Captain Cook Drive, Woolooware NSW 2230",Woolooware,2230.0,Caltex Woolworths,U91,1/01/2022 12:04:40 AM,173.9
3,NaN,NaN,NaN,NaN,NaN,P95,1/01/2022 12:04:40 AM,186.9
4,NaN,NaN,NaN,NaN,NaN,E10,1/01/2022 12:04:40 AM,171.9

In [15]:
combined_df.tail()

,ServiceStationName,Address,Suburb,Postcode,Brand,FuelCode,PriceUpdatedDate,Price
988193,Metro Petroleum Ballina,"323 River Street, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,E10,2022-07-31 23:26:59,195.9
988194,Metro Petroleum Ballina,"323 River Street, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P98,2022-07-31 23:26:59,217.9
988195,Metro Petroleum Ballina,"323 River Street, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,PDL,2022-07-31 23:26:59,212.9
988196,Metro Petroleum Ballina,"323 River Street, BALLINA NSW 2478",BALLINA,2478.0,Metro Fuel,P95,2022-07-31 23:26:59,212.9
988197,Shell Cardiff,"200 Main Road, Cardiff NSW 2285",Cardiff,2285.0,Shell,P98,2022-07-31 23:30:34,199.9

In [18]:
# Save combined raw file
output_path = "/Users/henrychiu/Documents/UTS/SEM4/95563 Data Driven storytelling studio/fuel check project/fuel check data/2022/combined_fuel_price_history_2022_raw.csv"
combined_df.to_csv(output_path, index=False)

## data cleaning

### drop missing data

In [19]:
missing_date_data = combined_df['PriceUpdatedDate'].isnull().sum()
missing_date_data

31

In [20]:
combined_df = combined_df.dropna(subset=['PriceUpdatedDate'])

In [21]:
columns_of_interest = ['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']
missing_summary = combined_df[columns_of_interest].isnull().sum()

missing_summary

ServiceStationName    324205
Address               322696
Postcode              322713
Suburb                322699
Brand                 322899
dtype: int64

In [22]:
combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']] = (
    combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')
)

/var/folders/56/9ccg46j54r99nc2y8w_2gvx00000gn/T/ipykernel_68564/623050441.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df[['ServiceStationName', 'Address', 'Postcode', 'Suburb', 'Brand']].fillna(method='ffill')

In [23]:
missing_summary = combined_df[columns_of_interest].isnull().sum()
missing_summary

ServiceStationName    0
Address               0
Postcode              0
Suburb                0
Brand                 0
dtype: int64

In [24]:
# Save combined file
output_path = "/Users/henrychiu/Documents/fuel check project/fuel check data/2022/combined_fuel_price_history_2022_cleaned.csv"
combined_df.to_csv(output_path, index=False)